

.myApp{
  /* background-color: darkkhaki;
  border: 3px solid rebeccapurple ;
  padding: 20px; */
  margin: 50px;
  
}

.text-color{
  color: #0026ff;
}

.terms-and-conditions-popup{
  background-color:darkseagreen;
  border: 3px solid rgb(207, 247, 247) ;
  padding: 20px;
  margin: 0px;
  border-radius: 20px;
}

.beautiful-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.beautiful-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}

.beautiful-button:hover {
  background-color: #0069d9;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.beautiful-button:hover::before {
  transform: scale(1);
}
